---
layout: default
title: nickurban.com - Nick Urban, software engineer, consultant, philosophy, essays, life hacking, music, travel, personal finance
---

| {% include fork_me.html %}

#home
  section#bio
    p Hi, I’m Nick Urban &ndash; consultant and software engineer.
    
    p I enjoy richly complex human endeavors. My greatest influences have been philosophy, literature, and meditation, as well as the DIY culture of startups and entrepreneurs.

    p
      | See my <a href='/files/resume.html'>r&eacute;sum&eacute;</a>,
      |  <a target=_blank href='https://github.com/nickurban'>GitHub</a>,
      |  <a target=_blank href='http://www.linkedin.com/in/nickurban/'>LinkedIn</a>,
      |  <a target=_blank href='http://stackoverflow.com/users/561019/nick-urban'>SO</a>,
      |  or send me an <a href='mailto:hello@nickurban.com'>email</a>.


  section#recent_activities
    h2.small Notable Activities
    ul
      | <li>Senior Consultant at <a target=_blank href='http://www.thoughtworks.com/'>ThoughtWorks</a> (tech-lead at a major airline)</li>
      | <li>Chief Engineer at <a target=_blank href='https://www.bespokepost.com/?b'>Bespoke Post</a></li>
      | <li>Gave 6 speeches and presided over a 50 person meeting of Manhattan <a target=_blank href='http://www.toastmasters.org/'>Toastmasters</a></li>
      | <li>Learned Spanish while living and working in Argentina</li>
      | <li>Defended a master's thesis on philosophy of technology at <a target=_blank href='http://www.sjc.edu'>St. John's College</a></li>


  section#other_interests
    h2.small Interests
    p Singing, dancing, writing, thinking, health, design, travel, minimalism, philosophy, meditation, personal development

