---
layout: default
title: nickurban.com - Nick Urban, software engineer, consultant, philosophy, essays, life hacking, music, travel, personal finance
---

| {% include fork_me.html %}

#home
  section#bio
    p Hi, I’m Nick Urban &ndash; consultant and software engineer.
    
    p My greatest influences have been philosophy, literature, and meditation, as well as the can-do culture of startups and entrepreneurs.

    p
      | See my <a href='/files/resume.html'>r&eacute;sum&eacute;</a>,
      |  <a target=_blank href='https://github.com/nickurban'>GitHub</a>,
      |  <a target=_blank href='http://www.linkedin.com/in/nickurban/'>LinkedIn</a>,
      |  <a target=_blank href='http://stackoverflow.com/users/561019/nick-urban'>SO</a>,
      |  or send me an <a href='mailto:hello@nickurban.com'>email</a>.


  section#recent_activities
    h2.small Notable Activities
    ul
      | <li><a href='https://www.youtube.com/watch?v=sdxTfaSJ1nQ' target='_blank' title='Technology: The Modern Metaphysic'>Presented at TAO Ignite v7</a> about philosophy of technology <small>(March 2016)</small></li>
      | <li>Spoke at PDX Ruby about <a href='https://www.youtube.com/watch?v=1W13Y_ys6XU' target='_blank' title='Remodeling Rails Projects'>how to improve Rails projects as a consultant</a> <small>(Jan 2016)</small></li>
      | <li>Performed principle roles in PSU Opera Scenes: Seneca in of <i>Coronation of Poppea</i> and Ford in <i>Falstaff</i> <small>(Dec 2015)</small></li>
      | <li>Founded <a href='https://arch.digital' target='_blank'>Arch Digital</a>, a software consultancy based in Portland, OR <small>(June 2015)</small></li>
      | <li>Sr. Consultant at <a target=_blank href='http://www.thoughtworks.com/'>ThoughtWorks</a> &ndash; DevOps Tech Lead to Fortune 500 <small>(Feb 2014 - June 2015)</small></li>
      | <li>Chief Engineer at <a target=_blank href='https://www.bespokepost.com/?b'>Bespoke Post</a> &ndash; built custom e-commerce platform, web site, and online store; optimized sales funnel and SEO <small>(2012-2014)</small></li>
      | <li>Gave 6 speeches and presided over a 50-person meeting of Manhattan <a target=_blank href='http://www.toastmasters.org/'>Toastmasters</a> (<small>2013</small>)</li>
      | <li>Spent a year in Argentina building a deep-web search tool and learning Spanish <small>(2011-2012)</small></li>
      | <li>Defended a master's thesis on philosophy of technology at <a target=_blank href='http://www.sjc.edu'>St. John's College</a> <small>(2011)</small></li>


  section#other_interests
    h2.small Interests
    p Singing, dancing, writing, thinking, health, design, travel, minimalism, philosophy, meditation, personal development

