---
layout: default
title: nickurban.com - Nick Urban, software engineer, consultant, philosophy, essays, life hacking, music, travel, personal finance
---

#home
  section#bio
    p Hi, I’m Nick. I’m a software engineer.
    
    p I like things that are richly human and hard to quantify.

    p My greatest influences have been philosophy, literature, and meditation – as well as the DIY culture of entrepreneurs and hackers.

    p
      | For more info, see my <a href='/files/resume.html'>r&eacute;sum&eacute;</a>,
      |  <a target=_blank href='https://github.com/nickurban'>GitHub</a>,
      |  <a target=_blank href='http://www.linkedin.com/in/nickurban/'>LinkedIn</a>,
      |  <a target=_blank href='http://stackoverflow.com/users/561019/nick-urban'>SO</a>,
      |  or send me an <a href='mailto:hello@nickurban.com'>email</a>.


  section#recent_activities
    h2.small Notable Activities
    ul
      | <li>Chief Engineer at <a target=_blank href='https://www.bespokepost.com/home?b'>Bespoke Post</a></li>
      | <li>Gave 6 speeches and presided over a 50 person meeting of Manhattan <a target=_blank href='http://www.toastmasters.org/'>Toastmasters</a></li>
      | <li>Learned Spanish while living and working in Argentina</li>
      | <li>Defended a master's thesis on philosophy of technology at <a target=_blank href='http://www.stjohnscollege.edu'>St. John's College</a></li>

  {% include recent_posts.slim %}

  section#other_interests
    h2.small Interests
    p Singing, dancing, writing, hacking, nutrition, fitness, design, travel, minimalism, frugality, literature, philosohpy, history, Buddhism, meditation, personal development

