$main_color: #333;

@import '_assets/stylesheets/media_sizes';

body {
}

#site_header h1 a {
  line-height: 90px;
  border-left: 30px solid $main_color;
  padding-left: 30px;

  &,
  &:link,
  &:active,
  &:hover,
  &:visited {
    color: $main_color;
    text-transform: none;
  }

  @media (max-width: $screen_sm_min) {
    padding-left: 18px;
    border-left: 25px solid $main_color;
    font-weight: normal;
    line-height: 40px;
    border-left: 0;
    padding-left: 0;
  }

}

header {
  margin-bottom: 20px;
}
.post header {
  margin-bottom: 10px;
}

h1 small { 
  color: $main_color;
}

h2.small {
  margin: 30px 0 16px;
}

p {
  padding: 8px 0;
  margin-bottom: 0;
  line-height: 1.5;

  @media (max-width: $screen_sm_min) {
    line-height: 1.4;
  }
}
#home p {
  padding: 5px 0;
}

footer {
  margin: 30px 0;

  .copyright { margin-top: 10px; }
}

a,
a:hover,
a:visited {
  color: #b83000;
}

@media (max-width: $screen_sm_min) {
  ul { padding-left: 20px; }
  ol { padding-left: 28px; }
}

li {
  padding-bottom: 4px;
}

.title { margin-bottom: 0; }
.metadata { 
  color: #aaa; 
  //.category { color: rgb(154, 68, 40); }
}

#category_index {
  h1 {
    text-transform: capitalize;
  }
}

#topnav li {
  //padding-left: 10px;
  //border-left: 2px solid $main_color;
  text-transform: capitalize;

  &.home {
    border-left: none;
    padding-left: 0;
  }
}

.alert {
  h1, h2, h3, h4 {
    margin-top: 5px;
  }
  p {
    padding: 5px 0;
  }
}

.footnotes {
  p { 
    font-size: 16px; 
    padding: 0;
  }
}

