---
layout: default
---

<article class="post">
  <header>
    <section class='metadata'>
      <a href='/blog'>Essays</a>
      {% if page.categories.size > 0 %}
        <span class='categories'>
        &raquo;
        {{ page.categories | category_links }}
        </span>
        
      {% endif %}
      <!-- <span class='date'>{{ page.date | date_to_string }}</span> -->
    </section>

    <h2 class='title'>{{ page.title }}</h2>


    <!--
    {% if page.categories.size > 0 %}
      <p class='categories'>
        Categories: 
        {% for cat in page.categories %}
          {{ cat }}
        {% endfor %}
      </p>
    {% endif %}

    {% if page.tags.size > 0 %}
    <p class='tags'>
      Tags: 
      {% for tag in page.tags %}
        {{ tag }}
      {% endfor %}
    </p>
    {% endif %}
    -->

   </header>

   <main>
     {{ content }}
   </main>

   <footer>
     <p class='date'>Published {{ page.date | date_to_string }}</p>
     <div class="alert alert-warning">
       <h3>Reply</h3>
       <!--<p>I don't have a commenting system at the moment, but I love hearing from people.</p>-->
       <p>
         Please send me an 
         <a href='mailto:reply@nickurban.com'>email</a>. I read everything!
       </p>
     </div>
   </footer>
</article>


