---
layout: default
---

<article class="post">
  <header>
    <h2 class='title'>{{ page.title }}</h2>

    <section class='metadata'>
      {% if page.categories.size > 0 %}
        <span class='categories'>
        Categories:
        {{ page.categories | category_links }}
        </span>
        |
      {% endif %}
      <span class='date'>{{ page.date | date_to_string }}</span>
    </section>

    <!--
    {% if page.categories.size > 0 %}
      <p class='categories'>
        Categories: 
        {% for cat in page.categories %}
          {{ cat }}
        {% endfor %}
      </p>
    {% endif %}

    {% if page.tags.size > 0 %}
    <p class='tags'>
      Tags: 
      {% for tag in page.tags %}
        {{ tag }}
      {% endfor %}
    </p>
    {% endif %}
    -->

   </header>

   <main>
     {{ content }}
   </main>

   <footer>
     <div class="alert alert-warning">
       <h3>Reply</h3>
       <!--<p>I don't have a commenting system at the moment, but I love hearing from people.</p>-->
       <p>
         Please send me an 
         <a href='mailto:reply@nickurban.com'>email</a>. I read everything!
       </p>
     </div>
   </footer>
</article>


