---
layout: default
---

<article class="post">
  <header>
    <h2>{{ page.title }}</h2>

    <div class="date">
      Published on {{ page.date | date_to_string }}
    </div>

    <section class='categories'>
    {% if page.categories.size > 0 %}
      Categories:
      {{ page.categories | category_links }}
    {% endif %}
    </section>

    <!--
    {% if page.categories.size > 0 %}
      <p class='categories'>
        Categories: 
        {% for cat in page.categories %}
          {{ cat }}
        {% endfor %}
      </p>
    {% endif %}

    {% if page.tags.size > 0 %}
    <p class='tags'>
      Tags: 
      {% for tag in page.tags %}
        {{ tag }}
      {% endfor %}
    </p>
    {% endif %}
    -->

   </header>

   <main>
     {{ content }}
   </main>
</article>

